body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}  */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.text-primary {
		@apply text-black dark:text-stone-200;
	}

	.text-inverse {
		@apply text-white dark:text-black
	}

	.text-muted {
		@apply text-gray-400 ;
	}

  .btn-red {
    @apply p-2 bg-red-600 hover:bg-red-500 transition-all text-white hover:text-black;
  }

  .btn-green {
    @apply bg-green-600 hover:bg-green-500 dark:bg-green-800 dark:hover:bg-green-600 transition-all text-white hover:text-black;
  }

	.bg-primary {
		@apply bg-gray-200 dark:bg-gray-800;
	}

	.bg-secondary {
		@apply bg-white dark:bg-gray-700;
	}

	.box-shadow {
		box-shadow: 3px 3px black;
	}

	.box-shadow-lg {
		box-shadow: 7px 7px black;
		@apply transition-all;
	}

	.input-primary {
		@apply w-full p-2 border-black border-2 rounded-md focus:outline-none bg-white dark:bg-gray-800 focus:ring-0 focus:bg-primary;
	}

	.label-primary {
		@apply block w-full font-semibold;
	}

	.btn-primary {
		@apply p-2 border-2 rounded-md border-black hover:box-shadow active:scale-95 transition-all;
	}
	
	.btn-plus {
		@apply flex rounded-md justify-center border-2 border-black w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 py-2 px-3 leading-tight focus:outline-none hover:box-shadow transition-all;
	}

	.dropdown-link {
		@apply py-2 px-4 hover:bg-black hover:text-white transition-all cursor-pointer;
	}

	.dark {
		@apply text-black dark:text-white bg-white dark:bg-gray-800;
	}
	
}

@font-face {
	font-family: "Darker Grotesque";
	src: url("./assets/fonts/DarkerGrotesque.ttf");
}


body {
	font-family: "Dark Grotesque", monospace;
	@apply bg-primary;
	/* background-color: rgb(160, 160, 160); */
}



.collapse-container {
  transition: height 400ms;
}